#folders
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/build/
**/target/
.vscode/


# files
*.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr